streamlit~=1.14.0
requests~=2.28.1
pandas~=1.5.1
numpy~=1.23.4
kaggle~=1.5.12
geopandas~=0.12.1
seaborn~=0.12.1
plotly~=5.11.0
missingno~=0.5.1
Shapely~=1.8.5.post1
fuzzywuzzy~=0.18.0
statsmodels~=0.13.5